![imagen](./img/ejercicios.png)

## Ejercicio 1
Dada la siguiente lista:
> ```ejer_1 = [1,2,3,4,5]```

Inviértela para que quede de la siguiente manera
> ```ejer_1 = [5,4,3,2,1]```

In [1]:
ejer_1 = [1,2,3,4,5]

In [10]:
ejer_1.sort(reverse=True)
print(ejer_1)

[5, 4, 3, 2, 1]

In [11]:
ejer_1 = [1,2,5,4,3]
sorted(ejer_1, reverse=True)

[5, 4, 3, 2, 1]

In [12]:
ejer_1 = [1,2,5,4,3]
print(ejer_1[::-1])

[3, 4, 5, 2, 1]

In [13]:
ejer_1 = [1,2,5,4,3]
ejer_1.reverse()
print(ejer_1)

[3, 4, 5, 2, 1]

## Ejercicio 2
Eleva todos los elementos de la lista al cuadrado
> ```ejer_2 = [1,2,3,4,5]```

In [14]:
ejer_2 = [1,2,3,4,5]
for x in ejer_2:
    print(x ** 2)

1
4
9
16
25

In [15]:
ejer_2 = [1,2,3,4,5]
for i,x in enumerate(ejer_2):
    ejer_2[i] = x ** 2

print(ejer_2)

[1, 4, 9, 16, 25]

In [16]:
ejer_2 = [1,2,3,4,5]
ejer_2_sol = []

for i,x in enumerate(ejer_2):
    ejer_2_sol.append(x ** 2)

print(ejer_2)
print(ejer_2_sol)

[1, 2, 3, 4, 5]
[1, 4, 9, 16, 25]

## Ejercicio 3
Crea una lista nueva con todas las combinaciones de las siguientes dos listas:
> ```ejer_3_1 = ["Hola", "amigo"]```
>
> ```ejer_3_2 = ["Que", "tal"]```

Obten el siguiente output:

```['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']```

In [18]:
ejer_3_1 = ["Hola", "amigo"]
ejer_3_2 = ["Que", "tal"]

In [19]:
for x in ejer_3_1:
    for y in ejer_3_2:
        print(x + " " + y)

Hola Que
Hola tal
amigo Que
amigo tal

In [20]:
ejer_3_1_sol = []
for x in ejer_3_1:
    for y in ejer_3_2:
        ejer_3_1_sol.append(x + " " + y)

print(ejer_3_1_sol)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

In [28]:
def ejercicio_3():
    ejer_3_1 = ["Hola", "amigo"]
    ejer_3_2 = ["Que", "tal"]
    ejer_3_1_sol = []
    for x in ejer_3_1:
        for y in ejer_3_2:
            ejer_3_1_sol.append(x + " " + y)
    return ejer_3_1_sol
    # print(ejer_3_1_sol)

In [29]:
var_1 = ejercicio_3()
print(var_1)

['Hola Que', 'Hola tal', 'amigo Que', 'amigo tal']

## Ejercicio 4
Dada la siguiente lista, encuentra por el índice el valor 45 y sustitúyelo por el 0
> ```ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90]```

In [42]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90, 45]

In [43]:
ejer_4.index(45)

4

In [44]:
ejer_4[ejer_4.index(45)] = 0
print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90, 45]

In [47]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90, 45]
for i,x in enumerate(ejer_4):
    if x == 45:
        ejer_4[i] = 0
        # break

print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90, 0]

In [ ]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90, 45]
while 45 in ejer_4:
    ejer_4[ejer_4.index(45)] = 0
print(ejer_4)

[20, 47, 19, 29, 0, 67, 78, 90, 0]

In [49]:
ejer_4 = [20, 47, 19, 29, 45, 67, 78, 90, 45]
ejer_4.count(45)

2

## Ejercicio 5
Dada la siguiente lista, elimina todos los valores iguales a 3
> ```ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]```

TIP: No intentes eliminar elementos sobre la lista que estás iterando. Haz una copia con `ejer_5.copy()`.

In [50]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

In [54]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]

for x in ejer_5.copy():
    if x == 3:
        ejer_5.remove(3)

print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90]

In [55]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
ejer_5_sol = []

for x in ejer_5:
    if x != 3:
        ejer_5_sol.append(x)

print(ejer_5_sol)

[20, 47, 19, 29, 45, 67, 78, 90]

In [52]:
ejer_5 = [3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3]
while 3 in ejer_5:
    ejer_5.remove(3)

print(ejer_5)

[20, 47, 19, 29, 45, 67, 78, 90]

## Ejercicio 6
1. Crea una tupla con 3 elementos
2. Crea otra tupla con un elemento y comprueba su tipo
3. Crea una tupla con elementos de diferentes tipos
4. Imprime por pantalla el primer y último elemento de la tupla del apartado 3. Usa `len` para el último
5. Añade un elemento a la tupla del apartado 3.
6. Eliminar un elemento de la tupla del apartado 5, que se encuentre más o menos en la mitad.
7. Convierte la tupla del apartado 5 en una lista

In [57]:
tuple_6 = (1,2,3)
print(tuple_6)
print(type(tuple_6))

(1, 2, 3)
<class 'tuple'>

In [59]:
tuple_6_2 = (1,)
print(tuple_6_2)
print(type(tuple_6_2))

(1,)
<class 'tuple'>

In [61]:
tuple_6_3 = (1,"2",True,[(1,2),2])
print(tuple_6_3)
print(type(tuple_6_3))

(1, '2', True, [(1, 2), 2])
<class 'tuple'>

In [66]:
print(tuple_6_3[0])
print(tuple_6_3[-1])
print(tuple_6_3[len(tuple_6_3)-1])

1
[(1, 2), 2]
[(1, 2), 2]

In [69]:
lista_6_3 = list(tuple_6_3)
lista_6_3.append(8)
tuple(lista_6_3)

(1, '2', True, [(1, 2), 2], 8)

In [72]:
tuple_6_3 = tuple_6_3 + (8,)
tuple_6_3

(1, '2', True, [(1, 2), 2], 8)

In [73]:
lista_6_3 = list(tuple_6_3)
lista_6_3.pop(int(len(lista_6_3)/2))
tuple(lista_6_3)

(1, '2', [(1, 2), 2], 8)

In [75]:
list(tuple_6_3)

[1, '2', True, [(1, 2), 2], 8]

## Ejercicio 7
Concatena todos los elementos de la tupla en un único string. Para ello utiliza el metodo `.join()` de los Strings
> ```ejer_7 = ("cien", "cañones", "por", "banda")```

Resultado: `cien cañones por banda`

In [77]:
ejer_7 = ("cien", "cañones", "por", "banda")

print(*ejer_7)

cien cañones por banda

In [81]:
" ".join(ejer_7)

'cien cañones por banda'

## Ejercicio 8
Obten el tercer elemento de la siguiente tupla, y el tercero empezando por la cola
> ```ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)```

In [82]:
ejer_8 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3)

In [84]:
print(ejer_8[2])
print(ejer_8[-3])

3
90

## Ejercicio 9
1. ¿Cuántas veces se repite el 3 en la siguiente tupla?
2. Crea una tupla nueva con los elementos desde la posición 5 a la 10.
3. ¿Cuántos elementos tiene la tupla `ejer_9`?
4. Comprueba si el numero 60 está en la tupla
> ```ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)```

In [85]:
ejer_9 = (3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7)

In [86]:
ejer_9.count(3)

7

In [87]:
ejer_9_sol = []
for i,x in enumerate(ejer_9):
    if 5 <= i <= 10:
        ejer_9_sol.append(x)

tuple(ejer_9_sol)

(3, 29, 45, 67, 78, 90)

In [90]:
print(ejer_9[5:11])

(3, 29, 45, 67, 78, 90)

## Ejercicio 10
1. Convierte la tupla del ejercicio 9 en una lista
2. Convierte la tupla del ejercicio 9 en un set
3. Convierte la tupla del ejercicio 9 en un diccionario. Usa también los índices

In [91]:
print(list(ejer_9))

[3, 20, 3, 47, 19, 3, 29, 45, 67, 78, 90, 3, 3, 5, 2, 4, 7, 9, 4, 2, 4, 3, 3, 4, 6, 7]

In [92]:
print(set(ejer_9))

{2, 3, 67, 5, 4, 7, 6, 9, 45, 78, 47, 19, 20, 90, 29}

In [96]:
print(dict(enumerate(ejer_9)))

{0: 3, 1: 20, 2: 3, 3: 47, 4: 19, 5: 3, 6: 29, 7: 45, 8: 67, 9: 78, 10: 90, 11: 3, 12: 3, 13: 5, 14: 2, 15: 4, 16: 7, 17: 9, 18: 4, 19: 2, 20: 4, 21: 3, 22: 3, 23: 4, 24: 6, 25: 7}

In [100]:
# {"x":1, "x":2}
{"x": [1,2]}

{'x': [1, 2]}

In [98]:
lista = [0,1,2]
lista[0] = 10
lista[0] = 20
print(lista)

[20, 1, 2]

## Ejercicio 11
Convierte la siguiente lista en un diccionario
> ```ejer_11 = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]```

TIP: Puedes usar dos variables de control en un bucle `for`. Una por cada valor de las tuplas.

## Ejercicio 12
1. Crea una lista ordenada ascendente con las claves del diccionario
2. Crea otra lista ordenada descendente con los valores
3. Añade una nueva clave/valor
4. Busca la clave igual a 2 dentro del diccionario
5. Itera la clave y el valor del diccionario con un único for
> ```ejer_12 = {4:78, 2:98, 8:234, 5:29}```

## Ejercicio 13
Junta ambos diccionarios. Para ello, utiliza `update`
> ```ejer_13_1 = {1: 11, 2: 22}```
>
> ```ejer_13_2 = {3: 33, 4: 44}```

## Ejercicio 14
Suma todos los valores del dicionario
> ```ejer_14 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

## Ejercicio 15
Multiplica todos los valores del diccionario
> ```ejer_15 = {1: 11, 2: 22, 3: 33, 4: 44, 5: 55}```

## Ejercicio 16
1. Crea un set de tres elementos
2. Añade un cuarto
3. Elimina el último elemento añadido
4. Elimina el elemento 10, si está presente. Usa `discard()`