# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
# import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [4]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

chipo = pd.read_csv(url, sep='\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [6]:
chipo.describe()

          order_id     quantity
count  4622.000000  4622.000000
mean    927.254868     1.075725
std     528.890796     0.410186
min       1.000000     1.000000
25%     477.250000     1.000000
50%     926.000000     1.000000
75%    1393.000000     1.000000
max    1834.000000    15.000000

### Step 3. Name of the max valued product

In [24]:
chipo['item_price'].max()

'$9.39 '

In [ ]:
chipo[chipo['item_price'] == chipo['item_price'].max()]['item_name'].unique() # MAL

array(['Steak Salad Bowl', 'Barbacoa Salad Bowl', 'Carnitas Salad Bowl'],
      dtype=object)

In [25]:
"Hola mundo".replace("m", "M")

'Hola Mundo'

In [32]:
chipo['item_price'] = chipo['item_price'].astype(float)

ValueError: could not convert string to float: '$2.39 '

In [35]:
chipo['item_price'] = chipo['item_price'].str.replace("$", "", regex=False).astype(float)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [ ]:
chipo['item_price'].max()

44.25

In [ ]:
chipo[chipo['item_price'] == chipo['item_price'].max()] # Mal por interpretaciÃ³n

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [41]:
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49

In [42]:
chipo['unit_price'].max()

11.89

In [45]:
most_valued_products = chipo[chipo['unit_price'] == chipo['unit_price'].max()]['item_name'].unique()
most_valued_products

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

In [50]:
chipo[chipo['item_name'].isin(most_valued_products)].groupby(['item_name','unit_price'])['order_id'].count()

item_name            unit_price
Barbacoa Salad Bowl  9.39           5
                     11.89          5
Carnitas Salad Bowl  9.39           2
                     11.89          4
Steak Salad Bowl     9.39          10
                     11.89         19
Name: order_id, dtype: int64

In [52]:
chipo.groupby('item_name')['unit_price'].mean().sort_values(ascending=False)

item_name
Carnitas Salad Bowl                      11.056667
Steak Salad Bowl                         11.027931
Barbacoa Salad Bowl                      10.640000
Carnitas Bowl                            10.315588
Steak Bowl                               10.232559
Barbacoa Bowl                            10.187273
Veggie Salad Bowl                        10.138889
Barbacoa Crispy Tacos                    10.087273
Barbacoa Soft Tacos                      10.018400
Veggie Bowl                              10.011882
Steak Burrito                             9.993424
Carnitas Burrito                          9.975932
Steak Crispy Tacos                        9.952857
Chicken Salad Bowl                        9.909091
Carnitas Crispy Tacos                     9.852857
Barbacoa Burrito                          9.832418
Chicken Bowl                              9.657727
Veggie Burrito                            9.602842
Steak Soft Tacos                          9.578182
Chicken Crispy Tacos                      9.492340
Chicken Burrito                           9.475949
Carnitas Soft Tacos                       9.398500
Veggie Soft Tacos                         9.352857
Chicken Soft Tacos                        9.240261
Chicken Salad                             9.010000
Carnitas Salad                            8.990000
Steak Salad                               8.915000
Veggie Crispy Tacos                       8.490000
Veggie Salad                              8.490000
Burrito                                   7.400000
Crispy Tacos                              7.400000
Bowl                                      7.400000
Salad                                     7.400000
6 Pack Soft Drink                         6.490000
Chips and Guacamole                       4.345616
Nantucket Nectar                          3.390000
Izze                                      3.390000
Chips and Mild Fresh Tomato Salsa         3.000000
Chips and Tomatillo Red Chili Salsa       2.950000
Chips and Tomatillo Green Chili Salsa     2.950000
Chips and Roasted Chili Corn Salsa        2.950000
Chips and Fresh Tomato Salsa              2.748727
Chips and Tomatillo-Red Chili Salsa       2.390000
Chips and Tomatillo-Green Chili Salsa     2.390000
Chips and Roasted Chili-Corn Salsa        2.390000
Chips                                     2.149242
Side of Chips                             1.690000
Bottled Water                             1.431667
Canned Soft Drink                         1.250000
Canned Soda                               1.090000
Name: unit_price, dtype: float64

### Step 4. How many products cost more than $10.00?

In [56]:
chipo[chipo['unit_price'] > 10]['item_name'].nunique()

25

### Step 4.1: Y cuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$? Es lo mismo?

In [60]:
chipo[chipo['unit_price'] > 10]['order_id'].nunique()

787

### Step 4.2: Y cuÃ¡ntos pedidos se han hecho de mÃ¡s de 10$? Es lo mismo?

In [62]:
orders_sum = chipo.groupby("order_id")['item_price'].sum()
orders_sum

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [66]:
len(orders_sum[orders_sum > 10])

1834

### Step 4.3: Y en cuÃ¡ntos pedidos se ha pagado mÃ¡s de 10$ por un mismo producto? Es lo mismo?

In [67]:
chipo[chipo['item_price'] > 10]['order_id'].nunique()

863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [68]:
chipo['unit_price']

0        2.39
1        3.39
2        3.39
3        2.39
4        8.49
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: unit_price, Length: 4622, dtype: float64

### Step 6. Sort by the name of the item

In [72]:
chipo.sort_values(['item_name','choice_description'], ascending=[False, True])

,order_id,quantity,item_name,choice_description,item_price,unit_price
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",16.98,8.49
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
...,...,...,...,...,...,...
298,129,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1026,422,1,6 Pack Soft Drink,[Sprite],6.49,6.49
1279,520,1,6 Pack Soft Drink,[Sprite],6.49,6.49
2374,945,1,6 Pack Soft Drink,[Sprite],6.49,6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49,6.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [74]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()]['quantity'].sum()

30

In [75]:
chipo[chipo['unit_price'] == chipo['unit_price'].max()].groupby('item_name')['quantity'].sum()

item_name
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Steak Salad Bowl       21
Name: quantity, dtype: int64

In [79]:
chipo[chipo['item_name'].isin(most_valued_products)]['quantity'].sum()

47

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [81]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['quantity'].sum()

18

In [82]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['item_name'].count()

18

In [87]:
chipo[chipo['item_name'] == "Veggie Salad Bowl"]['order_id'].nunique()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [ ]:
chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]['order_id'].nunique() # Mal

18

In [90]:
chipo[(chipo['item_name'] == "Canned Soda") & (chipo['quantity'] > 1)]['quantity'].sum()

42

In [91]:
chipo[chipo['order_id'] == 108]

,order_id,quantity,item_name,choice_description,item_price,unit_price
245,108,1,Steak Burrito,"[Roasted Chili Corn Salsa (Medium), [Rice, Faj...",8.99,8.99
246,108,1,Canned Soda,[Mountain Dew],1.09,1.09
247,108,1,Canned Soda,[Dr. Pepper],1.09,1.09
248,108,1,Canned Soda,[Mountain Dew],1.09,1.09
249,108,1,Barbacoa Burrito,"[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomat...",8.99,8.99

In [95]:
pedidos_refrescos = chipo[chipo['item_name'] == "Canned Soda"].groupby('order_id')['quantity'].sum()
len(pedidos_refrescos[pedidos_refrescos > 1])

24

In [96]:
pedidos_refrescos[108]

3